<html>
    <head>
        <title>Node Blog</title>
    </head>
    <body>
        <h1>Node Blog</h1>
        <% for(var i=0; i<quotes.length; i++) {%>
            <li class="quote">
            <span><%= i %></span>            
            <span><%= quotes[i].name %></span>
            <span><%= quotes[i].quote %></span>
            <span><%= quotes[i]._id %></span>
            </li>
        <% } %>
    </body>
</html>